body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    color: var(--color-on-surface);
    background: var(--color-surface);
    min-height: 100vh;
}

.dashboard-container1 {
    width: 100%;
    display: block;
    min-height: 100vh;
}

.dashboard-container2 {
    display: none;
}

.dashboard-container3 {
    display: contents;
}

.dashboard-container4 {
    display: none;
}

.dashboard-container5 {
    display: contents;
}

.dashboard-container6 {
    display: none;
}

.dashboard-container7 {
    display: contents;
}

.dashboard-link-signup {
    color: var(--color-on-surface);
    font-size: var(--font-size-sm);
    transition: opacity var(--animation-duration-fast) var(--animation-curve-primary);
    text-decoration: underline;
}

.dashboard-link-login {
    color: var(--color-on-surface);
    font-size: var(--font-size-sm);
    transition: opacity var(--animation-duration-fast) var(--animation-curve-primary);
    text-decoration: underline;
}

.dashboard-progress-fill {
    width: 42%;
}

.dashboard-kbd1 {
    color: var(--color-on-surface);
    border: 1px solid var(--color-border);
    display: inline-block;
    padding: 2px var(--spacing-sm);
    font-size: var(--font-size-sm);
    background: var(--color-backplate);
    font-family: monospace;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-sm);
}

.dashboard-kbd2 {
    color: var(--color-on-surface);
    border: 1px solid var(--color-border);
    display: inline-block;
    padding: 2px var(--spacing-sm);
    font-size: var(--font-size-sm);
    background: var(--color-backplate);
    font-family: monospace;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-sm);
}

.dashboard-kbd3 {
    color: var(--color-on-surface);
    border: 1px solid var(--color-border);
    display: inline-block;
    padding: 2px var(--spacing-sm);
    font-size: var(--font-size-sm);
    background: var(--color-backplate);
    font-family: monospace;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-sm);
}

.dashboard-container8 {
    right: 50px;
    border: 1px solid #ffffff5c;
    bottom: 30px;
    display: flex;
    z-index: 22;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
    min-height: auto;
    align-items: center;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(41, 41, 41, 0.41);
}

.dashboard-icon241 {
    width: 24px;
    margin-right: 4px;
}

.dashboard-text52 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
